@font-face {
  font-family: "Yune";
  src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Yune";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Yune";
  src: url("fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}