p{
  color: red;
  font-family: yune, sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: oblique;
  text-align: left;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: capitalize;
}

span{
  color: black;
  text-decoration: underline;
}

button{ 
  letter-spacing: 3px;
  text-transform: uppercase;
}