div{
  background-color: red;
  width: 400px;
  height: 200px;
  margin-bottom: 50px;
}

h1{
  background-color: blue;
}

form{
  width: 400px;
}

input{
  width: 90%;
  height: 90%;
  box-sizing: border-box;
}